<html lang="vi-VN">

<head th:include="user/fragments/head::head">
</head>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bookingpage.css}">
</head>

<body>
<header th:replace = "user/fragments/header::header"></header>
<div class="clearfix"></div>
<div class="main">
    <div class="homepage">
        <form class="reset_form" th:action="@{/bookingPage}">
        <div class="search-box">
            <div class="search-area">
                <div class="place-from">
                    <div class="input-wrapper-from">
                        <div class="info-input">
                            <div class="select-cotainer">
                                <div class="container-input">
                                    <div class="icon-container">
                                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/pickup_vex_blue_24dp.svg"
                                             width="24" height="24" alt="">
                                    </div>
                                    <div class="container-input2">
                                        <div class="input-section">
                                            <input required id="from_input" placeholder="" th:value="${placeStart}" name="placeStartName"
                                                   class="styled-input">
                                            <label class="label-input" for="from_input">
                                                Nơi xuất phát
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="select-menu">
                                <ul id="from_menu_list" class="menu-item-group-list">
                                    <li th:each="place : ${places}" class="option-item" th:text="${place.placeName}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-divider"></div>
                        <div class="line-focus"></div>
                    </div>
                </div>
                <div class="place-to">
                    <div class="input-wrapper-to">
                        <div class="info-input">
                            <div class="select-cotainer">
                                <div class="to-container container-input">
                                    <div class="icon-container">
                                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/dropoff_new_24dp.svg"
                                             width="24" height="24" alt="">
                                    </div>
                                    <div class="container-input2">
                                        <div class="input-section">
                                            <input required id="to_input" placeholder="" th:value="${placeEnd}" class="styled-input" name="placeEndName">
                                            <label class="label-input" for="to_input">
                                                Nơi đến
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="select-menu">
                                <ul id="to_menu_list" class="menu-item-group-list">
                                    <li th:each="place : ${places}" class="option-item" th:text="${place.placeName}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="swap-container">
                            <div class="switch-icon-container">
                                <div class="switch-icon-wrapper">
                                        <span class="material-symbols-outlined" onclick="SwapClick()">
                                            swap_horiz
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="search-divider"></div>
                        <div class="line-focus"></div>
                    </div>
                </div>

                <div class="date-go">
                    <div class="input-wrapper-date">
                        <div class="info-input">
                            <div class="select-cotainer">
                                <div class="container-input">
                                    <div class="icon-container">
                                        <img src="https://storage.googleapis.com/fe-production/svgIcon/event_vex_blue_24dp.svg"
                                             alt="trip-date-icon" width="24" height="24">
                                    </div>
                                    <div class="container-input2">
                                        <div class="input-section">
                                            <div class="date-input">
                                                <p class="heading-date-text">Ngày đi</p>
                                                <input required id="date_input" class="styled-input" type = "date" name="goingDate" th:value="${goingDate}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-focus"></div>
                    </div>
                </div>
            </div>
            <div class="seach-button">
                <button onclick="" type="submit" class="btn search-click">
                    <span>Tìm kiếm</span>
                </button>
            </div>
        </div>
        </form>
        <div class="route-row">
            <div class="col-left">
                <div id="route_fix_left" style="position:absolute; top:auto">
                    <div class="sort-container">
                        <div class="base-headline">Sắp xếp</div>
                        <div class="sort-choice-group">
                            <label class="ant-radio-wrapper checked">
                                    <span class="ant-radio">
                                        <input type="radio" class="ant-radio-input checked" value="" checked="">
                                        <span class="ant-radio-inner">
                                        </span>
                                    </span>
                                <span>
                                        <p class="option-label">Mặc định</p>
                                    </span>
                            </label>
                            <label class="ant-radio-wrapper">
                                    <span class="ant-radio">
                                        <input type="radio" class="ant-radio-input" value="" checked="">
                                        <span class="ant-radio-inner"></span>
                                    </span>
                                <span>
                                        <p class="option-label">Giờ đi sớm nhất</p>
                                    </span>
                            </label>
                            <label class="ant-radio-wrapper">
                                    <span class="ant-radio">
                                        <input type="radio" class="ant-radio-input" value="" checked="">
                                        <span class="ant-radio-inner"></span>
                                    </span>
                                <span>
                                        <p class="option-label">Giờ đi muộn nhất</p>
                                    </span>
                            </label>
                            <label class="ant-radio-wrapper ant-radio-wrapper-checked">
                                    <span class="ant-radio ant-radio-checked">
                                        <input type="radio" class="ant-radio-input" value="" checked="">
                                        <span class="ant-radio-inner"></span>
                                    </span>
                                <span>
                                        <p class="option-label">Giá tăng dần</p>
                                    </span>
                            </label>
                            <label class="ant-radio-wrapper">
                                    <span class="ant-radio">
                                        <input type="radio" class="ant-radio-input" value="" checked="">
                                        <span class="ant-radio-inner"></span>
                                    </span>
                                <span>
                                        <p class="option-label">Giá giảm dần</p>
                                    </span>
                            </label>
                        </div>
                    </div>
                    <div class="filter-container">
                        <div class="filter-group">
                            <div class="filter-title">
                                <div class="title">Lọc</div>
                                <p class="btn-clear">Lọc</p>
                            </div>
                            <div class="filter-item">
                                <div class="filter-times-container">
                                    <div class="header">
                                        <p class="filter-name labelStyle">Giờ đi</p>
                                        <div>
                                            <div
                                                    class="material-icons-wrapper md-24 color--medium-sub expand-icon ">
                                                    <span class="material-symbols-outlined">
                                                        expand_less
                                                    </span></div>
                                        </div>
                                    </div>
                                    <div class="filter-time-container">
                                        <div class="input-group">
                                            <div class="input-item">
                                                <p class="base-caption">Từ</p><input type="text" value="00:00"
                                                                                     class="ant-input">
                                            </div>
                                            <div class="divider"></div>
                                            <div class="input-item">
                                                <p class="base-caption">Đến</p><input type="text" value="24:00"
                                                                                      class="ant-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-bus-cointainer">
                                    <div class="header">
                                        <div class="labelStyle">Nhà xe</div>
                                        <div>
                                            <div
                                                    class="material-icons-wrapper md-24 color--medium-sub expand-icon ">
                                                    <span class="material-symbols-outlined">
                                                        expand_less
                                                    </span></div>
                                        </div>
                                    </div>
                                    <div class="groupKind">
                                        <label class="checkBoxGroup ant-checkbox-wrapper" th:each="partner : ${partners}">
                                                <span class="ant-checkbox" th:text="${partner.partnerName}">
                                                    <input type="checkbox" class="ant-checkbox-input" value="">
                                                    <span class="checkmark"></span>
                                                </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="groupStyle">
                                    <div class="groupSlider">
                                        <div class="header">
                                            <div class="labelStyle">Giá vé</div>
                                            <div>
                                                <div
                                                        class="material-icons-wrapper md-24 color--medium-sub expand-icon ">
                                                        <span class="material-symbols-outlined">
                                                            expand_less
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-time-container">
                                            <div class="input-group">
                                                <div class="input-item">
                                                    <p class="base-caption">Min</p>
                                                    <input type="text" value="0" class="ant-input">
                                                </div>
                                                <div class="divider"></div>
                                                <div class="input-item">
                                                    <p class="base-caption">Max</p><input type="text" value="2000000"
                                                                                          class="ant-input">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="infinity-scroll">
                    <div th:each="bus : ${busList}" class ="wrap-ticket-container">
                        <div class="container">
                            <div class="ticket-container">
                                <div class="body-flex">
                                    <div class="image" style="position:relative">
                                        <img class="operator"
                                             src="//static.vexere.com/production/images/1680244249712.jpeg?w=250&h=250"
                                             alt="">
                                    </div>
                                    <div class="right-body">
                                        <div class="bus-name" th:text="${bus.VehicleName}"></div>
                                        <div class="seat-type" th:text="${bus.BusType.BusTypeName}"></div>
                                        <div class="from-to">
                                            <svg class="location-route-svg" xmlns="http://www.w3.org/2000/svg"
                                                 width="14" height="74" viewBox="0 0 14 74">
                                                <path fill="none" stroke="#787878" stroke-linecap="round"
                                                      stroke-width="2" stroke-dasharray="0 7" d="M7 13.5v46"></path>
                                                <g fill="none" stroke="#484848" stroke-width="3">
                                                    <circle cx="7" cy="7" r="7" stroke="none"></circle>
                                                    <circle cx="7" cy="7" r="5.5"></circle>
                                                </g>
                                                <path
                                                        d="M7 58a5.953 5.953 0 0 0-6 5.891 5.657 5.657 0 0 0 .525 2.4 37.124 37.124 0 0 0 5.222 7.591.338.338 0 0 0 .506 0 37.142 37.142 0 0 0 5.222-7.582A5.655 5.655 0 0 0 13 63.9 5.953 5.953 0 0 0 7 58zm0 8.95a3.092 3.092 0 0 1-3.117-3.06 3.117 3.117 0 0 1 6.234 0A3.092 3.092 0 0 1 7 66.95z"
                                                        fill="#787878"></path>
                                            </svg>
                                            <div class="from-to-content">
                                                <div class="content from">
                                                    <div class="hour" th:text="${#strings.substring(bus.GoingDateTime, 11, 16)}"></div>
                                                    <div class="place" th:text="${'• ' + bus.PlaceStartName}"></div>
                                                </div>
                                                <div class="content to">
                                                    <div class="hour" th:text="${#strings.substring(bus.ArrivalDateTime, 11, 16)}"></div>
                                                    <div class="place" th:text="${'• ' + bus.PlaceEndName}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="trip-fare">
                                            <div class="fare" th:text="${bus.SeatType.Price + ' VNĐ'}"></div>
                                        </div>
                                        <div class="ticket-detail-action">
                                            <div class="info">
                                                <div class="seat-available" th:text="${'Còn ' + bus.TotalSeatEmpty + ' chỗ trống'}"></div>
                                            </div>
                                            <div class="action">
                                                <form class="reset_form" th:action="@{/paymentPage}" method="get">
                                                    <input type="hidden" th:value="${bus.BusId}" name="busId">
                                                    <button type="submit" class="btn btn-booking">
                                                        <span>Chọn chuyến</span>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<footer th:include="user/fragments/footer::footer"></footer>
</body>

</html>