<html lang="vi-VN">

<head th:include="user/fragments/head::head">
</head>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/payment.css}">
</head>
<body>
    <header th:replace="user/fragments/header::header"></header>
<!--    <div class="review-info-container">-->
<!--        <div class="section">-->
<!--            <div class="base-headline">Thông tin chuyến đi</div>-->
<!--            <div class="info-ticket">-->
<!--                <div class="box-review-container">-->
<!--                    <div class="section-ticket-header">-->
<!--                        <div class="section-ticket-header-left">-->
<!--                            <img class="bus-blue-icon"-->
<!--                                 src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/bus_blue_24dp.svg"-->
<!--                                 alt="bus_blue_icon" width="16" height="16">-->
<!--                            <p class="base-caption"-->
<!--                               th:text="${#dates.format(bus.GoingDateTime, 'EEE MM/dd/yyyy')}"></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="section-ticket-content">-->
<!--                        <div class="section-ticket-company-info pointer">-->
<!--                            <div><img-->
<!--                                    src="https://static.vexere.com/production/images/1647850188321.jpeg"-->
<!--                                    alt="avatar" class="image-styled">-->
<!--                            </div>-->
<!--                            <div class="section-ticket-company-info-name">-->
<!--                                <input hidden name="busId" th:value="${bus.busId}">-->
<!--                                <p class="base-headline" th:text="${bus.vehicleName}"></p>-->
<!--                                <p class="base-description" th:text="${busType.busTypeName}"></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="box-ticket-route-content">-->
<!--                            <div class="section-route-info">-->
<!--                                <div class="area-container pick-up">-->
<!--                                    <div class="area-point-container">-->
<!--                                        <div class="date-time-container">-->
<!--                                            <div class="date-time-container-pick-up">-->
<!--                                                <div class="base-headline"-->
<!--                                                     th:text="${#strings.substring(bus.GoingDateTime, 11, 16)}"></div>-->
<!--                                                <p class="base-small"-->
<!--                                                   th:text="${#dates.format(bus.GoingDateTime, 'MM/dd')}"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="icon-container">-->
<!--                                            <div class="icon-container-top"><img-->
<!--                                                    class="pickup-icon ls-is-cached lazyloaded"-->
<!--                                                    data-src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/pickup_vex_blue_24dp.svg"-->
<!--                                                    src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/pickup_vex_blue_24dp.svg"-->
<!--                                                    alt="pickup-icon" width="12" height="12"></div>-->
<!--                                            <div class="icon-container-divider">-->
<!--                                                <div class="icon-container-divider-border-right"></div>-->
<!--                                                <div class="icon-container-divider-border-left"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="section-area">-->
<!--                                            <div class="section-area-picker">-->
<!--                                                <p class="base-caption"-->
<!--                                                   th:text="${bus.PlaceStartName}"></p>-->
<!--                                                <p class="base-small"-->
<!--                                                   th:text="${pickUpModel.PickUpAndDropName}"></p>-->
<!--                                                <input hidden class="pickUpAndDropIdChange"-->
<!--                                                       name="pickUpId"-->
<!--                                                       th:value="${pickUpModel.PickUpAndDropId}">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="area-container drop-off">-->
<!--                                    <div class="area-point-container">-->
<!--                                        <div class="date-time-container">-->
<!--                                            <div class="date-time-container-drop-off">-->
<!--                                                <div class="base-headline"-->
<!--                                                     th:text="${#strings.substring(bus.ArrivalDateTime, 11, 16)}"></div>-->
<!--                                                <p class="base-small"-->
<!--                                                   th:text="${#dates.format(bus.ArrivalDateTime, 'MM/dd')}"></p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="icon-container">-->
<!--                                            <div class="icon-container-divider">-->
<!--                                                <div class="icon-container-divider-border-right"></div>-->
<!--                                                <div class="icon-container-divider-border-left"></div>-->
<!--                                            </div>-->
<!--                                            <div class="icon-container-bottom"><img-->
<!--                                                    class="dropoff-icon lazyloaded"-->
<!--                                                    data-src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/dropoff_semantic_negative_12dp.svg"-->
<!--                                                    src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/dropoff_semantic_negative_12dp.svg"-->
<!--                                                    alt="dropoff-icon" width="12" height="12"></div>-->
<!--                                        </div>-->
<!--                                        <div class="section-area">-->
<!--                                            <div class="section-area-picker">-->
<!--                                                <p class="base-caption"-->
<!--                                                   th:text="${bus.PlaceEndName}"></p>-->
<!--                                                <p class="base-small"-->
<!--                                                   th:text="${dropOffModel.PickUpAndDropName}"></p>-->
<!--                                                <input hidden class="pickUpAndDropIdChange"-->
<!--                                                       name="dropOffId"-->
<!--                                                       th:value="${dropOffModel.PickUpAndDropId}">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <footer>
        <p>
            Copyright &copy; 2024 by ABATEAM
        </p>
    </footer>
    <div class="ant-drawer-mask hidden"></div>
</body>
</html>