<html lang="vi-VN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="user/fragments/head::head">
</head>

<body>
<header>
    <div class="header-fix">
        <div class="left-header">
            <a href="#"><img class="logo" th:src="@{/assets/img/logo.png}" alt="logo"></a>
            <ul class="main-nav">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#about">Về chúng tôi</a></li>
                <li><a href="#contact">Liên hệ</a></li>
            </ul>
        </div>
        <div class="right-header">
            <div class="account_header">
                <div class="picture-account">
                    <img id="img_account" th:src="@{/assets/img/avatar_df.png}" alt="Avatar">
                </div>
                <div class="name-account">
                    <p id="fullname_account" value="">Phạm Quốc Hưng</p>
                    <p id="sdt_account" value="">0944372456</p>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="banner">
        <div class="homepage">
            <div class="heading-main-text">
                <h1>
                    XIN CHÀO MỌI NGƯỜI
                </h1>
            </div>
            <div class="search-box">
                <div class="search-area">
                    <div class="place-from">
                        <div class="input-wrapper-from">
                            <div class="info-input">
                                <div class="select-cotainer">
                                    <div class="container-input">
                                        <div class="icon-container">
                                            <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/pickup_vex_blue_24dp.svg"
                                                 width="24" height="24" alt="">
                                        </div>
                                        <div class="container-input2">
                                            <div class="input-section">
                                                <input id="from_input" placeholder="" value="Đồng Tháp"
                                                       class="styled-input">
                                                <label class="label-input" for="from_input">
                                                    Nơi xuất phát
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-menu">
                                    <ul id="from_menu_list" class="menu-item-group-list">
                                        <li class="option-item">Bình Thuận</li>
                                        <li class="option-item">Ninh Thuận</li>
                                        <li class="option-item">Đắk Lắk</li>
                                        <li class="option-item">Gia Lai</li>
                                        <li class="option-item">Phú Yên</li>
                                        <li class="option-item">Nha Trang</li>
                                        <li class="option-item">Bà Rịa-Vũng Tàu</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="search-divider"></div>
                            <div class="line-focus"></div>
                        </div>
                    </div>
                    <div class="place-to">
                        <div class="input-wrapper-to">
                            <div class="info-input">
                                <div class="select-cotainer">
                                    <div class="to-container container-input">
                                        <div class="icon-container">
                                            <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/dropoff_new_24dp.svg"
                                                 width="24" height="24" alt="">
                                        </div>
                                        <div class="container-input2">
                                            <div class="input-section">
                                                <input id="to_input" placeholder="" value="TPHCM"
                                                       class="styled-input">
                                                <label class="label-input" for="to_input">
                                                    Nơi đến
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-menu">
                                    <ul id="to_menu_list" class="menu-item-group-list">
                                        <li class="option-item">Bình Thuận</li>
                                        <li class="option-item">Ninh Thuận</li>
                                        <li class="option-item">Đắk Lắk</li>
                                        <li class="option-item">Gia Lai</li>
                                        <li class="option-item">Phú Yên</li>
                                        <li class="option-item">Nha Trang</li>
                                        <li class="option-item">Bà Rịa-Vũng Tàu</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swap-container">
                                <div class="switch-icon-container">
                                    <div class="switch-icon-wrapper">
                                            <span class="material-symbols-outlined" onclick="SwapClick()">
                                                swap_horiz
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="search-divider"></div>
                            <div class="line-focus"></div>
                        </div>
                    </div>

                    <div class="date-go">
                        <div class="input-wrapper-date">
                            <div class="info-input">
                                <div class="select-cotainer">
                                    <div class="container-input">
                                        <div class="icon-container">
                                            <img src="https://storage.googleapis.com/fe-production/svgIcon/event_vex_blue_24dp.svg"
                                                 alt="trip-date-icon" width="24" height="24">
                                        </div>
                                        <div class="container-input2">
                                            <div class="input-section">
                                                <div class="date-input">
                                                    <p class="heading-date-text">Ngày đi</p>
                                                    <input id="date_input" class="styled-input" type = "date"> </input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line-focus"></div>
                        </div>
                    </div>
                </div>
                <div class="seach-button">
                    <button onclick="" type="button" class="btn search-click">
                        <span>Tìm kiếm</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <ul>
            <li>
                <img class="icon" src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/verified_yellow.svg"
                     alt="verified_yellow">
                <p class="title">Chắc chắn có chỗ</p>
            </li>
            <li>
                <img class="icon" src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/headset_mic_yellow.svg"
                     alt="headset_mic_yellow">
                <p class="title">Hỗ trợ 24/7</p>
            </li>
            <li>
                <img class="icon" src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/discount_yellow.svg"
                     alt="discount_yellow">
                <p class=" title">Nhiều ưu đãi</p>
            </li>
            <li>
                <img class="icon"
                     src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/monetization_on_yellow.svg"
                     alt="monetization_on_yellow">
                <p class="title">Thanh toán đa dạng</p>
            </li>
        </ul>
    </div>
</header>
<div>
    <section id="about" class="about-section">
        <div class="row">
            <h2>Về chúng tôi</h2>
            <p class="p-long">
                Xin chào, chúng tôi là
            </p>
        </div>
        <div class="row">
            <div class="col span-1-of-4 about-picture">
                <img th:src="@{/assets/img/pmh.jpg}" alt="activities1">
                <p class="picture-title">
                    Phạm Minh Hiếu
                </p>
            </div>
            <div class="col span-1-of-4 about-picture">
                <img th:src="@{/assets/img/pqh.jpg}" alt="activities2">
                <p class="picture-title">
                    Phạm Quốc Hưng
                </p>
            </div>
            <div class="col span-1-of-4 about-picture">
                <img th:src="@{/assets/img/ndv.jpg}" alt="activities3">
                <p class="picture-title">
                    Nguyễn Đình Việt
                </p>
            </div>
            <div class="col span-1-of-4 about-picture">
                <img th:src="@{/assets/img/nml.jpg}" alt="activities4">
                <p class="picture-title">
                    Nguyễn Minh Luân
                </p>
            </div>
        </div>
    </section>
    <section id="contact" class="contact-section">
        <div class="row">
            <div class="col span-1-of-3">
                <ul class="information">
                    <li><a class="small-icon fas fa-map-marker-alt"></a>Address: </li>
                    <li><a class="small-icon fas fa-envelope"></a>Email: </li>
                    <li><a class="small-icon fas fa-phone"></a>SĐT: </li>
                </ul>
                <ul class="social-icons">
                    <li><a class="fab fa-facebook" href="https://www.facebook.com/pqhung.2905"></a></li>
                    <li><a class="fab fa-instagram" href="https://www.instagram.com/_pqh29_/"></a></li>
                    <li><a class="fab fa-tiktok" href="https://www.tiktok.com/@_pqh29_"></a></li>
                    <li><a class="fab fa-youtube"></a></li>
                </ul>
            </div>
            <div class="col span-2-of-3">
                <form>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>Name</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>Email</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="email" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>Message</label>
                        </div>
                        <div class="col span-2-of-3">
                            <textarea placeholder="Your Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn" value="Send It">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer th:include="user/fragments/footer::footer"></footer>
</div>
</body>

</html>